
body {
	margin: 0;
	padding: 0;
}

.content {
	text-align: center;
	background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),url('https://source.unsplash.com/1600x900/?nature,water');
	color: white;
	font-family: 'IBM Plex Sans', sans-serif;
}

body {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

h1 {
	font-size: 50px;
}

.content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#ct {
	font-size: 150px;
}

#greet {
	font-size: 55px;
}

.main-focus, .name {
	font-size: 45px;
}

.main-focus-input {
	background-color: transparent;
	outline: none;
	border: none;
	width: 30vw;
	border-bottom: 2px solid white;
	text-align: center;
	font-size: 35px;
	color: white;
	padding-bottom: 5px;
}

.first {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.name-input {
	outline: none;
	border: none;
	width: 30vw;
	border-bottom: 2px solid black;
	color: black;
	text-align: center;
	font-size: 35px;
	padding-bottom: 5px;
}